doctype html
include jade/_mixins.jade
html
  head
    +header("anthony")
  body
    div.container 
        p test
        a hello
        div hworld
        3//

    script(src='js/external/external.js')
    script(src='js/main.js')