doctype html
include jade/_mixins.jade
html
  head
    +header("anthony")
  body
    div.container
        h1 Hello World!
        h2 #{process.env.ENVIRONMENT}
    script(src='js/external/external.js')
    script(src='js/main.js')